
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: "Rubik", Sans-serif;
    overflow-x: hidden;
    /*background-color: #303030;*/
    background-color: #f8f9fa;
}

    body::-webkit-scrollbar {
        width: 10px;
    }
  
    body::-webkit-scrollbar-thumb {
        background-color: #232323;
        border-radius: 20px;
    }

.p-align{
    text-align: justify;
}

/*google*/
.goog-te-banner-frame{
	display: none !important;	
}

.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
    background-color: #fff !important;
    padding: 10px;
    margin: 0 auto !important;
}


header{
    position: fixed;
    top: 0;
    background-color: #0b2643;
    backdrop-filter: blur(2px) !important;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 5px 10px #0000004d;
}

.nav-link > a {
    line-height: 5rem;
    color: rgb(255, 255, 255);
    padding: 0 0.8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}



header > section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('fundo.png') no-repeat top center / cover;
}

.img{
    width: 40px;
    display: flex;
    margin-right: 20px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
    height: 80px;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    width: 70%;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.transparent:hover{
    background-color: #fff;
    color: #23232e;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}



.nav-link > a > i{
    margin-left: 2rem;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #23232e;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
} 

.dropdown-link:hover > a{
    background-color: #23232e;
    color: #fff;
}

.dropdown-link:not(:nth-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #23232e;
}

.dropdown-link{
    position: relative;
}

.dropdown.second {
    top: -290px;
    left: 98%;
    padding-left: 0.2rem;
    cursor: pointer;
    transform: translateX(5px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburguer-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburguer-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburguer-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburguer-menu div::before,
.hamburguer-menu div::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburguer-menu div:before{
    transform: translateY(-7px);
}

.hamburguer-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburguer-menu-container .hamburguer-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburguer-menu-container .hamburguer-menu div::before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburguer-menu-container .hamburguer-menu div::after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}

@media(max-width: 920px){
    .logo{
        width: 30%;
    }
    .hamburguer-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .arrow{
        opacity: 0;
    }

    .nav-btn {
        position: fixed;
        height: calc(101vh - 5rem);
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: #0b2643;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards;
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #069;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #0b2643;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding:1.2rem 2rem 1.2rem 4rem ;
    }

    .dropdown-link:not(:nth-child(2)){
        border-bottom: none;
    }

    .dropdown-link:hover > a{
        background-color: #069;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: center;
        transform: translateY(15px);
    }
}

/*Nav*/

.bg-banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.549) 0px 0px 15px;
}

.bg-filter{
    width: 100%;
    height: 100%;
}

.bg-content {
    color: #fff;
    width: 100%;
    padding: 300px 50px;
    font-size: 30px;
}

.bg-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-logo img{
    width: 500px;
    margin-left: 20px;
}



    @media (max-width: 800px){
        .bg-banner {
            height: 600px;
        }

        .bg-logo img{
            width: 300px;
            margin-left: 20px;
        }
    }

    @media (max-width: 400px){
        .bg-banner {
            height: 600px;
        }

        .bg-logo img{
            width: 200px !important;
            margin-left: 20px;
        }

        .bg-logo img{
            width: 250px;
            margin-left: 20px;
        }

        .user{
            width: 100px !important;
            height: 100px !important;
        }
    }



/*noticia-single*/

.noticia-single{
    max-width: 1200px;
    margin:auto;
    margin-top: 50px;
}

.center-single{
    display: flex;
    margin: 20px;
}


.w-60{
    width: 65%;
    margin-right: 30px;
}

@media(max-width: 1000px){

    .center-single{
        display: block;
    }

    .w-60{
        width: 100%;
    }

    .w-40{
        margin-top: 70px;
        width: 100% !important;
    }

    .button-main{
        position: fixed !important;
        width: 100% !important;
        bottom: 0;
        left: 0;
    }

    .ancora{
        border-radius: 0px;
        position: relative !important;
        display:block !important;
        text-align: center;
        padding: 15px 0;
    }

    .container-bottom{
        margin-bottom: 60px;
    }

}

.duracao{
    margin: 10px 0;
    color: #a7b7cc;
}

/* TAB */

.tabs{
    width: 100%;
}

.tab-button{
    border-radius: 7px 7px 0px 0px;
    flex-wrap: nowrap;
    display: inline-block;
    width: auto;
    padding: 0 20px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: #0b2643;
}

.tab-button:focus{
    transition: 0.5s;
    padding: 0 25px;
}

.border-buttons{
    border-bottom: 5px solid #0b2643;
}

#conteudo{
    margin: 20px 0px;
}

/* /TAB */

.w-40{
    width: 35%;
}

.double-itens{
    display: flex;
}

.w-50{
    margin: 70px 10px;
    width: 49%;
}

.datepicker{
    margin: 30px 0;
}

.datepicker-inline{
width:100% !important;
height: 350px !important;
}

.table-condensed{
width: 100% !important;
height: 350px;
}

h1{
    font-size: 30px;
    color: #045e8a;
}

h2{
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
}

input{
    width: 100%;
    height: 50px;
    border-radius: 20px;

    padding: 20px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

.preco{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px !important;
}

.flex-range{
    display: flex;
}

.range{
    width: 90%;
}

.range:focus{
    box-shadow: 0px 0px 0px 0px;
}

.value{
    width: 5%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
}

.form_title{
    width: 100%;
    color: #a7b7cc;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.ancora{    
    width: 100%;
    cursor: pointer;
    background-color: #0b2643;
    color: white;
    font-size: 20px;
    display: none;
}



.button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #0b2643;
    color: white;
    font-size: 20px;
}

.l-button{
    width: 100%;
    display: flex;
    background-color: #fff;
    color: #23232e;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
}

.l-button:hover{
    background-color: #23232e;
    color: #fff;
    
}

.button_reservar{
    width: 100%;
    cursor: pointer;

}

.inside_button{
    width: 100%;
    height: 50px;
    background-color: #00a55b;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
}







/*footer*/


footer {
    margin-top: 70px;
    background-color: rgb(11 38 67);
    color: #fff;
}

.footer-content{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
}

.imgs-footer{
    max-width: 1500px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
}

.img-footer{
    max-width: 150px;
    margin: 10px;
}

footer .row {
    text-align: left;
}

footer .container-content > h3 {
    text-align: left;
}

footer .row > p,a {
    color: rgb(255, 255, 255);
    text-align: left;
}

footer .container-bottom {
    padding: 15px 50px;
    color: #fff;
    background-color: #071a2d;
}

.itens-wrap {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 1000px) {
    .itens-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 50px auto;
        max-width: 1200px;
    }
}

/*footer*/